* {
    outline: 1px solid black;
}

.first{
    background-image: url();
    background-color: #476BF2;
    display: flex;
    justify-content: center;
    color: white;
    padding: 10% 20%;
    text-align: center;
    flex-wrap: wrap;
}

h1{
    padding: 30px 0px;
    font-size: 43px;
}

.second{
    background-color: #FFFFFF;
    display: flex;
    gap: 70px;
    justify-content: center;
    color: #000000;
    padding: 7% 20%;
    text-align: left;
    
}

.images{
    height: 400px;
    width: 1900px;
}

.text{
    line-height: 2;
}

.third{
    background-color: #F6F6F6;
    display: flex;
    gap: 70px;
    justify-content: center;
    color: #000000;
    padding: 7% 20%;
    text-align: left;
}

.last{
    background-color: #F6F6F6;
    padding: 170px;
    text-align: center;
}

#fotona{
    height: 500px;
}

h2{
    padding: 30px 0px;
}

footer{
    background-color: #23272A;
    height: 550px;
}